doctype html
html
	head
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Bralnik RSS virov
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
	body
		form.reset(role="form" method="POST" action="/api/db/ustvari")
			button.btn.btn-success(type="submit") Testni podatki
		form.reset(role="form" method="POST" action="/api/db/izbrisi")
			button.btn.btn-danger(type="submit") Izbriši podatke