.navbar.navbar-expand-lg.navbar-light.my-navbar
  a.navbar-brand#appName(href="/") NewsCatcher
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  .collapse.navbar-collapse(id="navbarText")
    ul.navbar-nav.mr-auto
      if userId
        li.nav-item
          a.nav-link(href="#!")
            i.fa.fa-list &nbsp;Moji viri
        li.nav-item
          a.nav-link(href="../#!viri/brskaj")
            i.fa.fa-heart &nbsp;Priljubljeni viri
    ul.navbar-nav.ml-auto
        if !userId
          li.nav-item
            a.nav-link(href="#!registracija")
              i.fa.fa-user &nbsp;Registracija
          li.nav-item
            a.nav-link(href="#!prijava")
              i.fa.fa-sign-in &nbsp;Prijava
        else
          li.nav-item
            a.nav-link(href="#!uporabnik")
              i.fa.fa-id-card &nbsp;Moj profil
          li.nav-item
            a.nav-link(href="#!odjava")
              i.fa.fa-sign-out &nbsp;Odjava