doctype html
html(ng-app='newsCatcher')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Bralnik RSS virov
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
  body
    include header.pug
    
    .container
      div(ng-view)
        block content

      footer
        .row
          .col-xs-12
            small &copy; DreamTeam 2018
  
  //- knjiznice
  script(src='/angular/angular.min.js')
  script(src='/lib/angular-route.min.js')
  script(src='/javascripts/jquery-3.3.1.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')

  //- glavna angular aplikacija
  script(src='/app.js')

  //- krmilniki
  script(src='/seznamVirov/seznamVirov.krmilnik.js')
  script(src='/seznamNovic/seznamNovic.krmilnik.js')
  script(src='/prijava/prijava.krmilnik.js')
  script(src='/registracija/registracija.krmilnik.js')
  script(src='/dodajanjeVirov/dodajanjeVirov.krmilnik.js')
  script(src='/mojiViri/mojiViri.krmilnik.js')
  script(src='/db/db.krmilnik.js')

  //- storitve
  script(src='/skupno/storitve/viri.storitev.js')
  script(src='/skupno/storitve/avtentikacija.storitev.js')
  script(src='/skupno/storitve/db.storitev.js')
    
  //- ostalo
  script(src='/javascripts/validacija.js')
