extends layout

block content
	.container.login-containerV.d-flex.justify-content-center.align-items-center
		.row
			div
				h3.h3V Prijavi se ali pa se 
					a(href="/registracija") registriraj
				form.needs-validation(role='form', novalidate='', method="POST", action="/prijava")
					.form-group
						label.labelV(for='inputUsernameEmail') Email
						input#inputUsernameEmail.form-control.inputV(type="email", name="email", pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$", required='')
						.invalid-feedback.validation-margin
							| Vnesite pravilen e-mail!
					.form-group
						label.labelV(for='inputPassword') Geslo
						input#inputPassword.form-control.inputV(type='password', pattern='[A-Za-z0-9đšćžčĐŠŽĆČ]+', minlength='2', maxlength='25', name="geslo" required)
						.invalid-feedback.validation-margin
							| Geslo lahko vsebuje velike male črke in števila,
							br
							| minimalne dolžine 2!
					.form-group
						button.btn.btn-primary.btn-lg.btn-block.login-button(type='submit') Prijava
