extends layout

block content
	.container
		.row.main
			.panel-heading
				.panel-title.text-center
					h1.title.h1V Registracija uporabnika 
			.main-loginV.main-centerV
				form.form-horizontal.needs-validation(novalidate='', method="post" action="/registracija", autocomplete='off')
					.form-group
						.cols-sm-10
							.input-group
								span.input-group-addonV
									i.fa.fa-user.fa(aria-hidden="true")
								input.form-control.inputV(type="text" pattern='^(?![ .]+$)[a-zA-ZđšćžčĐŠŽĆČ .]*$', minlength='2', maxlength='25' name="ime" id="name" placeholder="Vnesi ime", required='')
								.invalid-feedback.validation-margin
									| Ime lahko vsebuje velike in male črke, piko in presledek!
									br
									| Minimalna dolžina 2
					
					.form-group
						.cols-sm-10
							.input-group
								span.input-group-addonV
									i(aria-hidden="true").fa.fa-user.fa
								input(type="text" pattern='^(?![ .]+$)[a-zA-ZđšćžčĐŠŽĆČ .]*$', minlength='2', maxlength='25' name="priimek" id="surname" placeholder="Vnesi priimek", required='').form-control.inputV
								.invalid-feedback.validation-margin
									| Priimek lahko vsebuje velike in male črke, piko in presledek!
									br
									| Minimalna dolžina 2
					.form-group
						.cols-sm-10
							.input-group
								span.input-group-addonV
									i(aria-hidden="true").fa.fa-envelope.fa
								input(type="text" pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,}$', name="email" id="email" placeholder="Vnesi email", required='').form-control.inputV
								.invalid-feedback.validation-margin
									| Vnesen e-mail ni pravilne oblike, npr. example@gmail.com!
									br
									| Minimalna dolžina 2

					.form-group
						.cols-sm-10
							.input-group
								span.input-group-addonV
									i(aria-hidden="true").fa.fa-users.fa
								input(type="text" pattern='^(?![ .]+$)[a-zA-ZđšćžčĐŠŽĆČ .]*$', minlength='2', maxlength='25' name="uporabniskoIme" id="username" placeholder="Vnesi uporabniško ime", required='').form-control.inputV
								.invalid-feedback.validation-margin
									| Uporabniško ime lahko vsebuje velike in male črke, piko in presledek!
									br
									| Minimalna dolžina 2

					.form-group
						.cols-sm-10
							.input-group
								span.input-group-addonV
									i(aria-hidden="true").fa.fa-lock.fa-lg
								input(type="password" pattern='[A-Za-z0-9đšćžčĐŠŽĆČ]+', minlength='2', maxlength='25', name="geslo" id="password" placeholder="Vnesi geslo", required='').form-control.inputV
								.invalid-feedback.validation-margin
									| Geslo lahko vsebuje velike male črke in števila,
									br
									| minimalne dolžine 2!

					.form-group
						button.btn.myButton3.btn-lg.btn-block.login-button Registracija