extends layout

include _includes/skupne-funkcije.pug
    
block content
    .container 
        .row
            .col-xs-12.col-sm-12.col-lg-12
                h4.text-center.display-4=vir.naziv
                    | &nbsp;
                    span.fa.fa-star.star-color=vir.ocena  
                +oddajRating()
                .event-list 
                    each novica in vir.novice
                        li
                            datetime
                                .date
                                    +formatirajDatum(novica.datumObjave)
                                .time
                                    +formatirajUro(novica.datumObjave)

                            - var image = "/images/newspaper.png"

                            if novica.slika.length > 0
                                - image = novica.slika

                            img(alt="slika" src=image)

                            .info
                                h2.title=novica.naziv
                                p.desc=novica.opis
                                ul#link-article
                                    li#povezava
                                        a(href=novica.url) Povezava do članka &nbsp;
                                            i.fa.fa-globe
                            .social
                                ul
                                    li.facebook
                                        a(href="#facebook")
                                            i.fa.fa-facebook
                                    li.twitter
                                        a(href="#twitter")
                                            i.fa.fa-twitter

