extends layout

block content
    .d-flex.justify-content-center.user-info
        .col-sm-12.col-lg-8
            .d-flex.justify-content-center.userInfoText
                h5.user-headers= ime +' '+ priimek
            .d-flex.justify-content-center
                h6.user-headers= uporabniskoIme
    .d-flex.justify-content-center
        .col-sm-12.col-lg-8
            .rss-feeds-container-profile-new-rss
                .main-login.main-center
                    form.form-horizontal.needs-validation(novalidate='', method='post', action='/uporabnik', autocomplete="off")
                        .form-group
                            label.cols-sm-2.control-label.labels Ime
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon.span-width
                                        i.fa.fa-child.icon-padding(aria-hidden='true')
                                    input#ime.form-control(type='text', pattern='^(?![ .]+$)[a-zA-ZđšćžčĐŠŽĆČ .]*$', minlength='2', maxlength='25', name='ime', value=ime, required='')
                                    .invalid-feedback.validation-margin
                                        | Ime lahko vsebuje velike male črke, piko in presledek!
                                        br
                                        | Minimalna dolžina 2
                        .form-group
                            label.cols-sm-2.control-label.labels Priimek
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon.span-width
                                        i.fa.fa-child.icon-padding(aria-hidden='true')
                                    input#priimek.form-control(type='text', pattern='^(?![ .]+$)[a-zA-ZđšćžčĐŠŽĆČ .]*$', minlength='2', maxlength='25', name='priimek', value=priimek, required='')
                                    .invalid-feedback.validation-margin
                                        | Priimek lahko vsebuje velike male črke, piko in presledek!
                                        br
                                        | Minimalna dolžina 2
                        .form-group
                            label.cols-sm-2.control-label.labels Uporabniško ime
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon.span-width
                                        i.fa.fa-child.icon-padding(aria-hidden='true')
                                    input#uporabniskoIme.form-control(type='text', pattern='^(?![ .]+$)[a-zA-ZđšćžčĐŠŽĆČ .]*$', minlength='2', maxlength='25', name='uporabniskoIme', value=uporabniskoIme, required='')
                                    .invalid-feedback.validation-margin
                                        | Uporabnisko lahko vsebuje velike male črke, piko in presledek!
                                        br
                                        | Minimalna dolžina 2
                        .form-group
                            label.cols-sm-2.control-label.labels E-mail
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon.span-width
                                        i.fa.fa-envelope.icon-padding.envelope-margin(aria-hidden='true')
                                    input#email.form-control(type='text', name='email', value=email, readonly)
                        .form-group
                            label.cols-sm-2.control-label.labels Geslo
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon.span-width
                                        i.fa.fa-exclamation-circle.icon-padding(aria-hidden='true')
                                    input#geslo.form-control(type='password', pattern='[A-Za-z0-9đšćžčĐŠŽĆČ]+', maxlength='25', name='geslo', placeholder='Vaše geslo')
                                    .invalid-feedback.validation-margin
                                        | Geslo lahko vsebuje velike male črke in števila,
                                        br
                                        | minimalne dolžine 2!
                        .form-group
                            button.btn.btn-primary.btn-lg.btn-block.login-button(type='submit') Posodobi
                        .login-register.cancel_middle
                            a(href='/') Prekliči
