extends layout

include _includes/skupne-funkcije.pug

block content
    .d-flex.justify-content-center 
        .col-sm-12.col-lg-10.col-md-10
            h4.text-center.display-4.mb-5.pb-2 Priljubljeni RSS viri
            .col-lg-5.col-sm-6.pl-0.pr-0
                .input-group.mb-3
                    input.form-control(type="text" placeholder="Poišči RSS vir...")
                    .input-group-append
                        button.btn.btn-outline-secondary(type="button")
                            i.fa.fa-search
                    
            .rss-feeds-container
                each vir in viri
                    .rss-feed.container.col-sm-12.col-lg-12.pr-0.d-flex.align-items-center
                        .row.full-width
                            .flex-grow-1.flex-basis-0.ml-3
                                img(width="32" height="32" src=vir.ikona)

                            .flex-grow-1.flex-basis-0
                                p.feed-title
                                    a(href="/viri/" + vir._id)= vir.naziv

                            .flex-grow-1.flex-basis-0
                                if vir.ocena > 0
                                    - ocena = Math.round(vir.ocena*100)/100 //
                                    p= ocena
                                        span.fa.fa-star.star-color.ml-1

                            .flex-grow-1.flex-basis-0.pr-0.text-right
                                a.btn.btn-info.mr-1.hidden-sm(href="/viri/" + vir._id)
                                    i.fa.fa-list

                                - if (mojiViri.includes(vir._id))
                                    form.reset(role="form" method="POST" action="/viri/odjavi")
                                        input(type="hidden" name="idVira" value=vir._id)
                                        button.btn.btn-success(type="submit")
                                            i.fa.fa-check
                                - else
                                    form.reset(role="form" method="POST" action="/viri/naroci")
                                        input(type="hidden" name="idVira" value=vir._id)
                                        button.btn.btn-warning.white(type="submit")
                                            i.fa.fa-plus
        
            nav
                ul.pagination
                    li.page-item.disabled
                        a.page-link(href="#" tabindex="-1") Previous
                    li.page-item.active
                        a.page-link(href="#") 1
                    li.page-item
                        a.page-link(href="#") 2 
                            span.sr-only (current)
                    li.page-item
                        a.page-link(href="#") 3
                    li.page-item
                        a.page-link(href="#") Next
            
    +prikaziInspirationalQuote()
