extends layout

block content
    .d-flex.justify-content-center
        .col-sm-12.col-lg-8
            h4.text-center.display-4.mb-5.pb-2 Dodaj nov RSS kanal
            hr
            .rss-feeds-container-profile-new-rss
                .main-login.main-center
                    form.form-horizontal.needs-validation( novalidate="", method='POST', action='/viri/nov', autocomplete='off')
                        .form-group
                            label.cols-sm-2.control-label.labels(for='urlRss') URL RSS kanala
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-globe.icon-padding(aria-hidden='true')
                                    input#urlRss.form-control(type='text', pattern="((http|https):\\/\\/)?[-a-zA-Z0-9@:%._\\+~#=]{2,256}\\.[a-z]{2,6}\\b([-a-zA-Z0-9@:%_\\+.~#?&//=]*)", name='url', placeholder='Vnesite URL RSS kanala', required='')
                                    .invalid-feedback.validation-margin
                                        | Vnesite pravilen URL: http://example.exmpl/optional
                        .form-group
                            label.cols-sm-2.control-label.labels(for='imeRss') Ime RSS Kanala
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-pencil.icon-padding(aria-hidden='true')
                                    input#imeRss.form-control(type='text', pattern="[A-Za-z0-9đšćžčĐŠŽĆČ]+" minlength='2', maxlength='25', required='', name='naziv', placeholder='Vnesite ime RSS kanala')
                                    .invalid-feedback.validation-margin
                                        | Lahko vnesete ime z velikimi, malimi črkami ter številkami,
                                        br
                                        | minimalne dolžine 2 in maksimalne 25
                        .form-group
                            label.cols-sm-2.control-label.labels(for='opisRss') Opis RSS kanala
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-pencil.icon-padding(aria-hidden='true')
                                    input#opisRss.form-control(type='text', maxlength='50', name='opis', placeholder='Vnesite opis RSS kanala')
                        .form-group
                            button.btn.btn-primary.btn-lg.btn-block.login-button(type='submit') Dodaj
                        .login-register.cancel_middle
                            a(href='/') Prekliči
