<navigacija></navigacija>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <h4 class="text-center display-4">{{ vm.vir.naziv }} <span class="fa fa-star star-color">{{ vm.vir.ocena }}</span></h4>  
                <!-- +oddajRating()  -->
                <form ng-show="vm.jePrijavljen" role="form" method="post" ng-submit="vm.oddajRating(vm.vir._id)">
                    <div  class="starrating risingstar d-flex justify-content-center">
                        <div ng-if="vm.ocenaUporabnika == 1">
                            <div class="glasovano starrating risingstar">                        
                                <input type="submit" ng-model="vm.ocena" ng-click="vm.ocena=1" id="star1" name="ocena" value="1" ng-value="1" />
                                <label for="star1" title="1 star">1</label>
                            </div>
                        </div>
                            <input type="submit" ng-if="vm.ocenaUporabnika != 1" ng-model="vm.ocena" ng-click="vm.ocena=1" id="star1" name="ocena" value="1" />
                            <label ng-if="vm.ocenaUporabnika != 1" for="star1" title="1 star">1</label>
                        <div ng-if="vm.ocenaUporabnika == 2">
                            <div class="glasovano starrating risingstar">                        
                                <input ng-model="vm.ocena" ng-click="vm.ocena=2" type="submit" id="star2" name="ocena" value="2"/>
                                <label for="star2" title="2 star">2</label>
                            </div>
                        </div>
                            <input ng-if="vm.ocenaUporabnika != 2" ng-model="vm.ocena" ng-click="vm.ocena=2" type="submit" id="star2" name="ocena" value="2"/>
                            <label ng-if="vm.ocenaUporabnika != 2" for="star2" title="2 star">2</label>
                        <div ng-if="vm.ocenaUporabnika == 3">
                            <div class="glasovano starrating risingstar">                        
                                <input ng-model="vm.ocena" ng-click="vm.ocena=3" type="submit" id="star3" name="ocena" value="3"/>
                                <label for="star3" title="3 star">3</label>
                            </div>
                        </div>
                            <input ng-if="vm.ocenaUporabnika != 3" ng-model="vm.ocena" ng-click="vm.ocena=3" type="submit" id="star3" name="ocena" value="3"/>
                            <label ng-if="vm.ocenaUporabnika != 3" for="star3" title="3 star">3</label>
                        <div ng-if="vm.ocenaUporabnika == 4">
                            <div class="glasovano starrating risingstar">                        
                                <input ng-model="vm.ocena" ng-click="vm.ocena=4" type="submit" id="star4" name="ocena" value="4"/>
                                <label for="star4" title="4 star">4</label>
                            </div>
                        </div>
                            <input ng-if="vm.ocenaUporabnika != 4" ng-model="vm.ocena" ng-click="vm.ocena=4" type="submit" id="star4" name="ocena" value="4"/>
                            <label ng-if="vm.ocenaUporabnika != 4" for="star4" title="4 star">4</label>
                        <div ng-if="vm.ocenaUporabnika == 5">
                            <div class="glasovano starrating risingstar">                        
                                <input ng-model="vm.ocena" ng-click="vm.ocena=5" type="submit" id="star5" name="ocena" value="5"/>
                                <label for="star5" title="5 star">5</label>
                            </div>
                        </div>
                            <input ng-if="vm.ocenaUporabnika != 5" ng-model="vm.ocena" ng-click="vm.ocena=5" type="submit" id="star5" name="ocena" value="5"/>
                            <label ng-if="vm.ocenaUporabnika != 5" for="star5" title="5 star">5</label>
                    </div>
                </form>
                                
                <div class="event-list">
                    <li ng-repeat="novica in vm.vir.novice">
                        <datetime>
                            <div class="date">{{ novica.datumObjave | formatirajDatum }}</div>
                            <div class="time">{{ novica.datumObjave | formatirajUro }}</div>
                        </datetime>

                        <img ng-if="novica.slika.length > 0" src="{{ novica.slika }}" alt="slika">
                        <img ng-if="novica.slika.length <= 0" src="/images/newspaper.png" alt="slika">

                        <div class="info">
                            <h2 class="title">{{ novica.naziv }}</h2>
                            <p class="desc">{{ novica.opis }}</p>
                            <ul id="link-article">
                                <li id="povezava">
                                    <a href="{{ novica.url }}">Povezava do članka <i class="fa fa-globe"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="social">
                            <ul>
                                <li class="facebook">
                                    <a href="#facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="twitter">
                                    <a href="#twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </div> 
            </div>
        </div>
    </div> 
    <noga></noga>
</div>