mixin prikaziOceno(ocena)
    - for (var i = 1; i <= ocena; i++)
        i.fa.fa-star.checked
    - for (var i = ocena; i < 5; i++)
        i.fa.fa-star-o
        
mixin prikaziInspirationalQuote()
    script(src="https://theysaidso.com/gadgets/v3/theysaidso.js")
    .tso_simple_borders
        script.
            TheySaidSo.render({ qod_category : 'inspire'});
            
mixin formatirajDatum(nizDatum)
  - datum = new Date(nizDatum);
  - var imenaMesecev = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12" ];
  - var d = datum.getDate();
  - var m = imenaMesecev[datum.getMonth()];
  - var l = datum.getFullYear();
  - var odgovor = d + ". " + m + ". " + l;
  = odgovor
  
mixin formatirajUro(nizDatum)
  - datum = new Date(nizDatum);
  - var ure = datum.getHours();
  - if (ure.toString().length == 1) ure = "0" + ure.toString();
  - var minute = datum.getMinutes();
  - if (minute.toString().length == 1) minute = "0" + minute.toString(); 
  - var odgovor = ure + ":" + minute;
  = odgovor
  
mixin oddajRating()
    - var ocenaUporabnika = 0;
    for ocena in vir.ocene
        if (ocena.idOsebe == userId) 
            - ocenaUporabnika = ocena.ocena
            
    if userId
        form(role="form" method="POST" action="/viri/oceni")
            .starrating.risingstar.d-flex.justify-content-center
                    input(type="hidden" name="idVira" value=vir._id)
                    if (ocenaUporabnika == 1)
                        .glasovano.starrating.risingstar
                            input(type="submit" id="star1" name="ocena" value="1")
                            label(for="star1" title="1 star") 1
                    else
                        input(type="submit" id="star1" name="ocena" value="1")
                        label(for="star1" title="1 star") 1
                    if (ocenaUporabnika == 2)
                        .glasovano.starrating.risingstar
                            input(type="submit" id="star2" name="ocena" value="2")
                            label(for="star2" title="2 star") 2
                    else
                        input(type="submit" id="star2" name="ocena" value="2")
                        label(for="star2" title="2 star") 2
                    if (ocenaUporabnika == 3)
                        .glasovano.starrating.risingstar
                            input(type="submit" id="star3" name="ocena" value="3")
                            label(for="star3" title="3 star") 3
                    else
                        input(type="submit" id="star3" name="ocena" value="3")
                        label(for="star3" title="3 star") 3
                    if (ocenaUporabnika == 4)
                        .glasovano.starrating.risingstar
                            input(type="submit" id="star4" name="ocena" value="4")
                            label(for="star4" title="4 star") 4
                    else
                        input(type="submit" id="star4" name="ocena" value="4")
                        label(for="star4" title="4 star") 4
                    if (ocenaUporabnika == 5)
                        .glasovano.starrating.risingstar
                            input(type="submit" id="star5" name="ocena" value="5")
                            label(for="star5" title="5 star") 5
                    else
                        input(type="submit" id="star5" name="ocena" value="5")
                        label(for="star5" title="5 star") 5
    