<navigacija></navigacija>
<div class="container">
	<div class="container login-containerV d-flex justify-content-center align-items-center">
		<div class="row">
			<div>
				<h3 class="h3V mt-3 mb-3">Prijavi se ali pa se <a href="/registracija">registriraj</a>.</h3>
				<form class="form-horizontal needs-validation" name="form" ng-submit="vm.prijaviUporabnika()" role="form" novalidate="" method="post" >
					<div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger">{{ vm.napakaNaObrazcu }}</div>
			        <div class="form-group" ng-class="{ 'has-error': form.email.$invalid && form.email.$dirty, 'has-success': form.email.$valid }">
			            <label for="email">Email</label>
			            <input type="email" name="email" id="email" pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$" class="form-control" ng-model="vm.uporabnik.email" required=""/>
			            <span ng-show="vm.napakaEmail" class="help-block validation-text">{{ vm.napakaEmail }}</span>
			        </div>
			        <div class="form-group" ng-class="{ 'has-error': form.geslo.$dirty && form.geslo.$error.required }">
			            <label for="geslo">Geslo</label>
			            <input type="password" name="geslo" id="password" pattern="[A-Za-z0-9đšćžčĐŠŽĆČ]+" minlength="2" maxlength="25" class="form-control" ng-model="vm.uporabnik.geslo" required />
			        </div>
			        <div class="form-group">
			            <button type="submit" id="prijaviSe" ng-disabled="form.email.$invalid && form.geslo.$invalid" class="btn myButton3 btn-lg btn-block login-button">Prijava</button>
			        </div>
			    </form>
			</div>
		</div>
	</div>
	<noga></noga>
</div>