<div class="navbar navbar-expand-lg navbar-light my-navbar">
 	<a class="navbar-brand" id="appName" href="/">NewsCatcher</a>
 	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarText">
	    <ul ng-show="navvm.imaRole(['user'])" class="navbar-nav mr-auto">
	        <li class="nav-item">
	        	<a href="/" class="nav-link" id="linkDomov">
	            	<i class="fa fa-list"> Moji viri</i>
	          	</a>
	        </li>
	        <li class="nav-item">
	          	<a href="/viri/brskaj" class="nav-link" id="linkBrskajVire">
	            	<i class="fa fa-heart"> Priljubljeni viri</i>
	          	</a>
	        </li>
	    </ul>
	    <ul class="navbar-nav ml-auto">
	        <li ng-hide="navvm.imaRole(['user', 'admin'])" class="nav-item">
				<a href="/registracija" class="nav-link" id="linkRegistracija">
					<i class="fa fa-user"> Registracija</i>
				</a>				
			</li>
		  	<li ng-hide="navvm.imaRole(['user', 'admin'])" class="nav-item">
		    	<a href="/prijava" class="nav-link" id="linkPrijava">
	      			<i class="fa fa-sign-in"> Prijava</i>	
				</a>
		    </li>

            <li ng-show="navvm.imaRole(['user'])" class="nav-item">
				<a href="/uporabnik" class="nav-link" id="linkUporabnik">
			  		<i class="fa fa-id-card"> Moj profil</i>
				</a>
          	</li>
	        
	        <li ng-show="navvm.imaRole(['user', 'admin'])" class="nav-item">
	            <a href="" ng-click="navvm.odjava()" class="nav-link" id="linkOdjava">
	            	<i class="fa fa-sign-out"> Odjava</i>
	            </a>
	        </li>
	    </ul>
	</div>
</div>