/*-------Miha-------*/

.flex-basis-0 {
	flex-basis: 0;
}

.rss-feeds-container {
	height: 500px;
	display: inline-block;
	background-color: #f7f7f9;
	border: 1px solid #ddd;
	border-radius: 4px;
	width: 100%;
	padding: 0px 16px;
	margin-bottom: 15px;
}

.rss-feed {
	margin-top: 15px;
	padding: 13px 0px 13px 13px;
	background-color: #FFFFFF;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-weight: 600;
	font-size: 16px;
}

.rss-feed p {
	margin-bottom: 0px;
}

.white {
	color: white;
}

.feed-title a {
	text-decoration: none;
	color: black;
}

.all-rss-feeds-body {
	text-align: center;
}

.header {
	width: 100%;
	height: 50px;
	background: white;
	border: 1px solid black;
	margin-bottom: 15px;
}

.star-color {
	color: #ffe062
}

/*-------Alan-------*/

.rss-feeds-container-profile-new-rss {
	display: inline-block;

	background-color: #f7f7f9;
	border: 1px solid #ddd;
	/*border-color: #ddd;
	border-width: 1px;*/
	border-radius: 4px;
	width: 100%;
	padding: 16px 16px;
	margin-bottom: 5px;
}

.login-button{
	margin-top: 15px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

.span-width {
	width: 22px;
}


.icon-padding {
	padding: 10px 10px 0 0;
}

.user-info {
	width:100%; 
	padding-top:15px; 
	margin-bottom:15px; 
}

.userInfoText {
	margin-top: 15px;
}

.labels {
	margin-left: 25px;
}

.envelope-margin {
	margin-left:-2px;
	margin-right: 1px;
}

.cancel_middle {
	text-align: center;
}

.nav_bg_color {
	background-color: #89c4fa;
}

.validation-margin {
	margin-left: 25px;
}

/*-------Vanesa-------*/

#login {
	padding-top: 15px;
	font-size: 15px;
	margin-top: 15%;
}
#registration {
	padding-top: 15px;
	font-size: 20px;
	margin-top: 10%;
	max-width: 500px;
	margin: auto;
}
.main {
	margin-top: auto;
	max-width: 400px;
	margin: 0 auto;
	display: inline-block;
}
.row-main {
	margin-top: auto;
	margin-left: 50%;
	max-width: 400px;
	margin: 0 auto;
	display: inline-block;
}

.login-or {
	position: relative;
	font-size: 18px;
	color: #aaa;
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.span-or {
	display: block;
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -25px;
	background-color: #fff;
	width: 40px;
	text-align: center;
}

.hr-or {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.myButton1 {
	color: #fff;
	background-color: #409ff7;
}
.myButton2 {
	color: #fff;
	background-color: #89c4fa;
}
.myButton3 {
	color: #fff;
	background-color: #409ff7;
}

.checkbox {
	margin-top: 5%
}
h3V {
	text-align: center;
	line-height: 300%;
}

h1V.title {
	font-size: 50px;
	font-weight: 400;
}

.hrV {
	width: 10%;
	color: #fff;
}
.form-group{
	margin-bottom: 15px;
}

.labelV {
	margin-bottom: 15px;
	vertical-align: middle;
}
/*****/
inputV,
inputV::-webkit-input-placeholder {
	font-size: 15px;
	padding-top: 3px;
}

.main-loginV.main-centerV {
	background-color: #f7f7f9;

	moz-border-radius: 2px;
	webkit-border-radius: 2px;
	border-radius: 2px;
	moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.main-centerV{
	margin-top: 30px;
	margin: 0 auto;
	max-width: 900px;
	padding: 20px 20px;
}
.login-registerV{
	font-size: 11px;
	text-align: center;
}
/*.fa {
	color: #89c4fa;
}*/
.input-group-addonV{
	margin: 5%;
}

.login-containerV {
	height: 100%;
}

/*-------Matic-------*/


#stars:hover {
    background-color: inherit;
}

.checked {
    color: orange;
}

.navbar {
    font-family: 'Oswald', sans-serif;
	margin: 10px 10px;
}

#appName {
    font-family: 'Rock Salt', sans-serif;
    font-size: 1.5em;
    color: #364e64;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 1.2em;
    color: #dbedfd;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #364e64;
}

.logo {
    margin: 20px 0px 20px 10px;
    position: relative;
}

.event-list {
	list-style: none;
	margin: 5px;
	padding: 0px;
    align-items: center;
}
.event-list > li {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 5px rgb(51, 51, 51);
	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
	padding: 0px;
	margin: 0px 0px 20px;
	border-radius: 5px;
}
.event-list > li > time {
	font-family: 'Oswald', sans-serif;
	display: inline-block;
	width: 100%;
	color: rgb(255, 255, 255);
	background-color: #b8dbfc;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
}
.event-list > li:nth-child(even) > time {
	background-color: #89c4fa;
}
.event-list > li > time > span {
	display: block;
	font-weight: 900;
	font-size: 2em;
}
.event-list > li > time > .day {
	display: inline;
	font-size: 1em;
	font-weight: 100;
	line-height: 3;
}
.event-list > li time > .month {
	display: inline;
	font-size: 1em;
	font-weight: 100;
	line-height: 3;
}

.event-list > li > time > .year {
	display: inline;
	font-size: 1em;
	font-weight: 100;
	line-height: 3;
}
.event-list > li > img {
	width: 100%;
}
.event-list > li > .info {
	padding-top: 5px;
	text-align: center;
}
.event-list > li > .info > .title {
	position: relative;
	display: block;
	height: 50px;
	overflow-y: hidden;
	font-size: 1em;
	font-weight: 700;
	margin: 0px;
	border-bottom: 5px solid #ddd;
    padding-bottom: 5px;
	margin-bottom: 5px;
}
.event-list > li > .info > .desc {
	position: relative;
	display: block;
	font-family: 'Sorts Mill Goudy', sans-serif;
	font-size: 1em;
	font-weight: 100;
	margin: 0px;
	height: 50px;
	overflow-y: hidden;
}

.event-list > li > .info > .link-article {
	position: absolute;
	display: block;
	bottom: 0;
	width: 100%;
}

.event-list > li > .info > .link-article > li {
    float: left;
	position: relative;
	display: table;
}

.event-list > li > .info > ul,
.event-list > li > .social > ul {
	display: table;
	list-style: none;
	margin: 10px 0px 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
}
.event-list > li > .social > ul {
	margin: 0px;
}
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
	display: table-cell;
	cursor: pointer;
	color: rgb(30, 30, 30);
	font-size: 11pt;
	font-weight: 300;
    padding: 3px 0px;
}
.event-list > li > .info > ul > li > a {
	display: block;
	width: 100%;
	color: rgb(30, 30, 30);
	text-decoration: none;
} 
.event-list > li > .social > ul > li {    
    padding: 0px;
}
.event-list > li > .social > ul > li > a {
    padding: 3px 0px;
} 
.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
	color: rgb(30, 30, 30);
	background-color: rgb(200, 200, 200);
}
.facebook a,
.twitter a {
	display: block;
	width: 100%;
	color: rgb(75, 110, 168) !important;
}
.twitter a {
	color: rgb(79, 213, 248) !important;
}
.facebook:hover a {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(75, 110, 168) !important;
}
.twitter:hover a {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(79, 213, 248) !important;
}

@media (min-width: 768px) {
	.event-list > li {
		position: relative;
		display: block;
		width: 100%;
		height: 140px;
		padding: 0px;
	}
	.event-list > li > time,
	.event-list > li > img  {
		display: inline-block;
	}
	.event-list > li > time,
	.event-list > li > img {
		width: 140px;
		float: left;
	}
	.event-list > li > .info {
		background-color: rgb(245, 245, 245);
		overflow: hidden;
	}
	.event-list > li > time,
	.event-list > li > img {
		width: 140px;
		height: 140px;
		padding: 0px;
		margin: 0px;
	}
	.event-list > li > .info {
		position: relative;
		height: 140px;
		text-align: left;
		padding-right: 40px;
	}	
	.event-list > li > .info > .title, 
	.event-list > li > .info > .desc {
		padding: 0px 10px;
	}
	.event-list > li > .info > ul {
		position: absolute;
		left: 0px;
		bottom: 0px;
	}
	.event-list > li > .social {
		position: absolute;
		top: 0px;
		right: 0px;
		display: block;
		width: 40px;
	}
    .event-list > li > .social > ul {
        border-left: 1px solid rgb(230, 230, 230);
    }
	.event-list > li > .social > ul > li {			
		display: block;
        padding: 0px;
	}
	.event-list > li > .social > ul > li > a {
		display: block;
		width: 40px;
		padding: 10px 0px 9px;
	}
}