#login {
    padding-top: 15px;
    font-size: 15px;
    margin-top: 15%;
}
#registration {
    padding-top: 15px;
    font-size: 20px;
    margin-top: 10%;
    max-width: 500px;
    margin: auto;
}
.main {
    margin-top: auto;
    max-width: 400px;
    margin: 0 auto;
    display: inline-block;
}
.row-main {
    margin-top: auto;
    margin-left: 50%;
    max-width: 400px;
    margin: 0 auto;
    display: inline-block;
}
.login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -25px;
    background-color: #fff;
    width: 40px;
    text-align: center;
}
.hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.myButton1 {
    color: #fff;
    background-color: #409ff7;
}
.myButton2 {
    color: #fff;
    background-color: #89c4fa;
}
.myButton3 {
    color: #fff;
    background-color: #409ff7;
}
.checkbox {
    margin-top: 5%
}
h3V {
    text-align: center;
    line-height: 300%;
}
/*a {
	color: #89c4fa;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}*/

h1V.title {
    font-size: 50px;
    font-weight: 400;
}

.hrV {
    width: 10%;
    color: #fff;
}
.form-group{
    margin-bottom: 15px;
}

.labelV {
    margin-bottom: 15px;
    vertical-align: middle;
}
inputV,
inputV::-webkit-input-placeholder {
    font-size: 15px;
    padding-top: 3px;
}
.main-login.main-center {
    background-color: #f7f7f9;

    moz-border-radius: 2px;
    webkit-border-radius: 2px;
    border-radius: 2px;
    moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 900px;
    padding: 20px 20px;
}
.login-register{
    font-size: 11px;
    text-align: center;
}
/*.fa {
	color: #89c4fa;
}*/
.input-group-addon{
    margin: 5%;
}

.login-container {
    height: 100%;
}