<div class="modal-content">
  <form class="form-horizontal needs-validation" name="form" role="form" ng-submit="vm.posiljanjePodatkov()" novalidate method="post" autocomplete="off">
    <div class="modal-header">
      <h4 class="text-center display-4 mb-5 pb-2" >Posodobi RSS vir</h4>
      <button type="button" ng-click="$close()" class="close">
        <span aria-hidden="true">x</span>
      </button>
    </div>
    <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger">{{ vm.napakaNaObrazcu }}</div>
    <div role="alert" ng-show="vm.uspesnoDodan" class="alert alert-success">{{ vm.uspesnoDodan }}</div>
    <div class="modal-body">
      <div class="form-group">
        <label for="urlRss" class="cols-sm-2 control-label labels">URL RSS kanala  {{vm.vir.url}}</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-globe icon-padding" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="url" id="urlRss" ng-model="vm.vir.url" readonly="readonly"/>
          </div>
          <span ng-show="vm.napakaUrl" class="help-block validation-text">{{vm.napakaUrl}}</span>
        </div>
      </div>   
      <div class="form-group">
        <label for="imeRss" class="cols-sm-2 control-label labels">Ime RSS Kanala</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-pencil icon-padding" aria-hidden="true"></i></span>
            <input type="text" minlength="1" maxlength="25" required class="form-control" name="naziv" id="imeRss" ng-model="vm.vir.naziv" placeholder="Vnesite ime RSS kanala" required/>
          </div>
          <span ng-show="vm.napakaNaziv" class="help-block validation-text">{{vm.napakaNaziv}}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="opisRss" class="cols-sm-2 control-label labels">Opis RSS kanala</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-pencil icon-padding" aria-hidden="true"></i></span>
            <input type="text" maxlength="50" class="form-control" name="opis" id="opisRss" ng-model="vm.vir.opis" placeholder="Vnesite opis RSS kanala" />
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" id="dodajRss" class="btn btn-primary btn-lg btn-block login-button">Posodobi</button>
    </div>
  </form>
</div>