<navigacija></navigacija>
<div class="container">
	<form class="reset" role="form" method="POST" ng-submit="vm.ustvariPodatke()">
		<button class="btn btn-success" type="submit">Testni podatki</button> 
	</form>
	<form class="reset" role="form" method="POST" ng-submit="vm.izbrisiPodatke()">
		<button class="btn btn-danger" type="submit">Izbriši podatke</button> 
	</form>

	<p ng-bind="vm.sporocilo"></p>
		<noga></noga>
</div>