<navigacija></navigacija>
<div class="container">
    <div class="container">
        <div class="d-flex justify-content-center user-info">
            <div class="col-sm-12 col-lg-8">
                <div class="d-flex justify-content-center userInfoText">
                    <h5 class="user-headers">{{vm.uporabnik.ime}} {{vm.uporabnik.priimek}}</h5>
                </div>
                <div class="d-flex justify-content-center">
                    <h6 class="user-headers"></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="col-sm-12 col-lg-8">
            <div class="rss-feeds-container-profile-new-rss">
                <div class="main-login main-center">
                    <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger">{{ vm.napakaNaObrazcu }}</div>
                    <div role="alert" ng-show="vm.uspesnoPosodobljen" class="alert alert-success">{{ vm.uspesnoPosodobljen }}</div>
                    <form class="form-horizontal needs-validation" novalidate="" method="post" ng-submit="vm.posodobiUporabnika()" role="form" autocomplete="off">
                        <div class="form-group"><label class="cols-sm-2 control-label labels">Ime</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon span-width">
                                    <i class="fa fa-child icon-padding" aria-hidden="true"></i></span>
                                    <input class="form-control" id="ime" type="text" pattern="^(?![ .]+$)[a-zA-ZđšćžčĐŠŽĆČ .]*$" minlength="2" maxlength="25"
                                           name="ime" ng-model="vm.uporabnik.ime" required="" />
                                </div>
                                <span ng-show="vm.napakaIme" class="help-block validation-text">{{vm.napakaIme}}</span>
                            </div>
                        </div>
                        <div class="form-group"><label class="cols-sm-2 control-label labels">Priimek</label>
                            <div class="cols-sm-10">
                                <div class="input-group"><span class="input-group-addon span-width"><i class="fa fa-child icon-padding" aria-hidden="true"></i></span>
                                    <input class="form-control" id="priimek" type="text" pattern="^(?![ .]+$)[a-zA-ZđšćžčĐŠŽĆČ .]*$" minlength="2" maxlength="25"
                                            name="priimek" ng-model="vm.uporabnik.priimek" required="" />
                                </div>
                                <span ng-show="vm.napakaPriimek" class="help-block validation-text">{{vm.napakaPriimek}}</span>
                            </div>
                        </div>
                        <div class="form-group"><label class="cols-sm-2 control-label labels">Uporabniško ime</label>
                            <div class="cols-sm-10">
                                <div class="input-group"><span class="input-group-addon span-width"><i class="fa fa-child icon-padding" aria-hidden="true"></i></span>
                                    <input class="form-control" id="uporabniskoIme" type="text" pattern="^(?![ .]+$)[a-zA-ZđšćžčĐŠŽĆČ .]*$" minlength="2"
                                            maxlength="25" name="uporabniskoIme" ng-model="vm.uporabnik.uporabniskoIme" required="" />
                                </div>
                                <span ng-show="vm.napakaUporabniskoIme" class="help-block validation-text">{{vm.napakaUporabniskoIme}}</span>
                            </div>
                        </div>
                        <div class="form-group"><label class="cols-sm-2 control-label labels">E-mail</label>
                            <div class="cols-sm-10">
                                <div class="input-group"><span class="input-group-addon span-width"><i class="fa fa-envelope icon-padding envelope-margin" aria-hidden="true"></i></span>
                                    <input class="form-control" id="email" type="text" name="email" ng-model="vm.uporabnik.email" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group"><label class="cols-sm-2 control-label labels">Geslo</label>
                            <div class="cols-sm-10">
                                <div class="input-group"><span class="input-group-addon span-width"><i class="fa fa-exclamation-circle icon-padding" aria-hidden="true"></i></span>
                                    <input class="form-control" id="geslo" type="password" pattern="[A-Za-z0-9đšćžčĐŠŽĆČ]+" maxlength="25"
                                            name="geslo" ng-model="vm.uporabnik.geslo" value="" placeholder="Vaše geslo" />
                                </div>
                                <span ng-show="vm.napakageslo" class="help-block validation-text">{{vm.napakageslo}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-block login-button" type="submit">Posodobi</button>
                        </div>
                        <div class="login-register cancel_middle"><a href="/">Prekliči</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <noga></noga>
</div>