<navigacija></navigacija>
<div class="container">
    <div class="container text-center">
        <div class="row main">
            <div class="panel-heading mt-3 mb-4">
                <div class="panel-title text-center">
                    <h2 class="title h1V">Registracija uporabnika</h2>
                </div>
            </div> 
            <div>
                <form class="form-horizontal needs-validation" name="form" ng-submit="vm.registracijaUporabnika()" role="form" novalidate="" method="post" autocomplete="off">
                    <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger">{{ vm.napakaNaObrazcu }}</div>
                    <div role="alert" ng-show="vm.sporocilo" class="alert alert-success">{{ vm.sporocilo }}</div>
                    <div class="form-group" ng-class="{ 'has-error': form.ime.$dirty && form.ime.$error.required }">
                        <input type="text" pattern="^(?![ .]+$)[a-zA-ZđšćžčĐŠŽĆČ .]*$" minlength="2" maxlength="25" name="ime" id="name" placeholder="Vnesi ime" class="form-control" ng-model="vm.uporabnik.ime" required />
                        <span ng-show="vm.napakaPolje" class="help-block validation-text">{{ vm.napakaPolje }}</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.priimek.$dirty && form.priimek.$error.required }">
                        <input type="text" pattern="^(?![ .]+$)[a-zA-ZđšćžčĐŠŽĆČ .]*$" minlength="2" maxlength="25" name="priimek" id="surname" placeholder="Vnesi priimek" class="form-control" ng-model="vm.uporabnik.priimek" required />
                        <span ng-show="vm.napakaPolje" class="help-block validation-text">{{ vm.napakaPolje }}</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                        <input type="email" pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$" name="email" id="email" placeholder="Vnesi email" class="form-control" ng-model="vm.uporabnik.email" required />
                        <span ng-show="vm.napakaEmail" class="help-block validation-text">{{ vm.napakaEmail }}</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.uporabniskoIme.$dirty && form.uporabniskoIme.$error.required }">
                        <input type="text" pattern="^(?![ .]+$)[a-zA-ZđšćžčĐŠŽĆČ .]*$" minlength="2" maxlength="25" name="uporabniskoIme" id="username" placeholder="Vnesi uporabniško ime" class="form-control" ng-model="vm.uporabnik.uporabniskoIme" required />
                        <span ng-show="vm.napakaPolje" class="help-block validation-text">{{ vm.napakaPolje }}</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.geslo.$dirty && form.geslo.$error.required }">
                        <input type="password" pattern="[A-Za-z0-9đšćžčĐŠŽĆČ]+" minlength="2" maxlength="25" name="geslo" id="password" placeholder="Vnesi geslo" class="form-control" ng-model="vm.uporabnik.geslo" required />
                        <span ng-show="vm.napakaPolje" class="help-block validation-text">{{ vm.napakaPolje }}</span>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="registrirajSe" class="btn myButton3 btn-lg btn-block login-button">Registracija</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <noga></noga>
</div>