<navigacija></navigacija>
<div class="container">
	<div class="d-flex justify-content-center">	
		<div class="col-sm-12 col-lg-8">
			
			<h4 class="text-center display-4 mb-5 pb-2" >Dodaj nov RSS kanal</h4>
			<hr/>
			
			<div class="rss-feeds-container-profile-new-rss">
				
				
				<div class="main-login main-center">
					<form class="form-horizontal needs-validation" name="form" role="form" ng-submit="vm.dodajanjeVira()" novalidate method="post" autocomplete="off">

						<div class="form-group" ng-class="{ 'has-error': form.url.$dirty && form.url.$error.required }">
							<label for="urlRss" class="cols-sm-2 control-label labels">URL RSS kanala</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-globe icon-padding" aria-hidden="true"></i></span>
									<input type="text" pattern="((http|https):\/\/)?[-a-zA-Z0-9@:%.+~#=]{2,256}.[a-z]{2,6}\b([-a-zA-Z0-9@:%+.~#?&//=]*)" required class="form-control" name="url" id="urlRss" ng-model="vm.vir.url" placeholder="Vnesite URL RSS kanala"/>
	                                <span ng-if="form.url.$dirty && form.url.$error.required" class="help-block">Vnesite pravilen URL: http://example.exmpl/optional</span>
								</div>
							</div>
						</div>

						<div class="form-group" ng-class="{ 'has-error': form.naziv.$dirty && form.naziv.$error.required }">
							<label for="imeRss" class="cols-sm-2 control-label labels">Ime RSS Kanala</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-pencil icon-padding" aria-hidden="true"></i></span>
									<input type="text" pattern="[A-Za-z0-9đšćžčĐŠŽĆČ]+" minlength="2" maxlength="25" required class="form-control" name="naziv" id="imeRss" ng-model="vm.vir.naziv" placeholder="Vnesite ime RSS kanala" required/>
	                                <span ng-if="form.naziv.$dirty && form.naziv.$error.required" class="help-block">											Lahko vnesete ime z velikimi, malimi črkami ter številkami, <br />
	                                    minimalne dolžine 2 in maksimalne 25</span>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="opisRss" class="cols-sm-2 control-label labels">Opis RSS kanala</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-pencil icon-padding" aria-hidden="true"></i></span>
									<input type="text" maxlength="50" class="form-control" name="opis" id="opisRss" ng-model="vm.vir.opis" placeholder="Vnesite opis RSS kanala" />
								</div>
							</div>
						</div>

						<div class="form-group ">
							<button type="submit" ng-disabled="form.$invalid || vm.dataLoading" id="dodajRss" class="btn btn-primary btn-lg btn-block login-button">Dodaj</button>
						</div>
						<div class="login-register cancel_middle">
							<a href="/">Prekliči</a>
						 </div>
					</form>
				</div>
			</div>
		
		</div>
	</div>
	<noga></noga>
</div>