<navigacija></navigacija>
<div class="container">
    <div class="d-flex justify-content-center">	
        <div class="col-sm-12 col-lg-10 col-md-10">
            <h4 class="text-center display-4 mb-5 pb-2" >Priljubljeni RSS viri</h4>
            <div class="col-lg-5 col-sm-6 pl-0 pr-0">
                <div class="input-group mb-3">
                    <input type="text" ng-if="vm.steviloVirov > vm.naStran" class="form-control" ng-model="vm.isciVir" ng-change="vm.vrniVire(1, vm.naStran, -1)" placeholder="Poišči RSS vir..." id="viriFilter">
                    <input type="text" ng-if="vm.steviloVirov <= vm.naStran" class="form-control" ng-model="vm.isciVir" placeholder="Poišči RSS vir..." id="viriFilter">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="rss-feeds-container">
                <div ng-repeat="vir in vm.viri | filter: vm.viriFilter" class="rss-feed container col-sm-12 col-lg-12 pr-0 d-flex align-items-center">
                    <div class="row full-width">
                        <div class="flex-grow-1 flex-basis-0 ml-3">
                            <img width="32" height="32" src="{{ vir.ikona }}" alt="">
                        </div>
                        <div class="flex-grow-1 flex-basis-0">
                            <p class="feed-title"><a class="poglej-rss-vir" ng-href="/viri/{{ vir._id }}">{{ vir.naziv }}</a></p>
                        </div>
                        <div class="flex-grow-1 flex-basis-0">
                            <p ng-if="vir.ocena > 0">{{ (vir.ocena | number:2)*1 }} <span class="fa fa-star star-color"></span></p>
                        </div>
                        <div class="flex-grow-1 flex-basis-0 pr-0 text-right">
                            <a href="/viri/{{ vir._id }}" class="btn btn-info poglej-rss-vir"><i class="fa fa-list"></i></a>
                            <button ng-if="vm.preveriMojVir(vir._id)" class="btn btn-success sem-narocen" type="submit" ng-click="vm.odjavaMojegaVira(vir._id)">
                                <i class="fa fa-check"></i>
                            </button>
                            <button ng-if="!vm.preveriMojVir(vir._id)" class="btn btn-warning white nisem-narocen" type="submit" ng-click="vm.dodajanjeMojegaVira(vir._id)">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

			<nav ng-if="vm.steviloStrani > 1" aria-label="Page navigation">
				<ul class="pagination">
					<li class="page-item">
					 	<a class="page-link" ng-click="vm.vrniVire(vm.trenutnaStran-1, vm.naStran)">Previous</a>
					</li>
					<li ng-repeat="x in [].constructor(vm.steviloStrani) track by $index" class="page-item {{ vm.trenutnaStran == $index+1 ? 'active' : '' }}">
						<a class="page-link" ng-click="vm.vrniVire($index+1, vm.naStran)">{{ $index+1 }}</a>
					</li>
					<li class="page-item">
						<a class="page-link" ng-click="vm.vrniVire(vm.trenutnaStran+1, vm.naStran)">Next</a>
					</li>
				</ul>
			</nav>
        </div>
    </div>
    <prikazi-inspirational-quote></prikazi-inspirational-quote>
    <noga></noga>  